In [68]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [69]:
model = load_model('model.h5')

In [76]:
with open('label_encoder_gender.pkl','rb') as file:
    lable_encoder_gender = pickle.load(file)
    
with open('one_hot_encoder.pkl','rb') as file:
    label_encoder_geo = pickle.load(file)
    
with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)

In [77]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

input_data = pd.DataFrame([input_data])

In [78]:
input_data['Gender'] = lable_encoder_gender.fit_transform([input_data['Gender']])

c:\Users\ROOT\Desktop\ann classifier\venv\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [79]:
input_data

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France       0  ...          1               1            50000

[1 rows x 10 columns]

In [80]:
geo_encoder = label_encoder_geo.transform([input_data["Geography"]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoder, columns = label_encoder_geo.get_feature_names_out(['Geography']))

c:\Users\ROOT\Desktop\ann classifier\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [81]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [82]:
input_data = pd.concat([input_data.drop("Geography", axis = 1), geo_encoded_df], axis = 1)

In [83]:
input_data

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       0  ...                0.0              0.0

[1 rows x 12 columns]

In [84]:
input_scaled = scaler.transform(input_data)

In [85]:
input_scaled

array([[-0.47154541, -1.09997489,  0.09477172, -0.69844549, -0.29010416,
         0.80510537,  0.63367318,  0.95214374, -0.84805047,  0.98019606,
        -0.57581067, -0.56349184]])

In [86]:
## Predict
model.predict(input_scaled)

1/1 [==============================] - 0s 137ms/step

array([[0.03521897]], dtype=float32)

In [87]:
 prediction_proba = model.predict(input_scaled)

1/1 [==============================] - 0s 38ms/step

In [88]:
if prediction_proba > 0.5:
    print("The customer is likely to churn")
else:
    print("The customer is not likely to churn")

The customer is not likely to churn